

.comments-page .thing a.title:visited {
    color: #444;
}
.comments-page > .content {
    // overflow: visible;
}


$comment-buttons-width: 600px;

.commentarea {
    padding: $well-padding;
    color: #555;

    /* RES */
    .comment-visits-box {
        border: 0;
        border-radius: 0px;
        background: #2f2a2c;
        color: $text-color;
        padding: 10px 24px;
    }

    .panestack-title {
        border-bottom: 0;
        color: $text-color;
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 10px;

        .title {
            font-size: 18px;
            font-weight: 700;
        }

        #REScommentSubToggle {
            padding: 4px 12px;
            border-radius: 0px;
            background: $well-bg;
            transition: background 0.2s;
            color: #666;
            font-weight: normal;

            &:hover {
                background: #DDD;
            }
        }
    }

    .menuarea {
        font-weight: 100;
        text-align: left;
        display: block;
        overflow: visible;

        .loadFlat {
            margin-left: 12px;
        }

        & > .spacer:first-child {
            display: block;
            height: 35px;
            width: 100%;
        }

        & > .spacer + .spacer {
            width: 100%;
        }

        .toggle .togglebutton,
        #REScommentNavToggle [id^='nav'] {
            color: $text-color;
            font-size: $paragraph-text-size;
            font-weight: normal;
            text-transform: capitalize;
        }

        form.toggle:first-child {
            margin-left: 0px;
        }


        .spacer { // Dropdown
            .dropdown-title:first-letter {
                text-transform: uppercase;
            }
            .dropdown {
                text-transform: uppercase;
                border: 1px solid #DDD;
                margin-left: 4px;
                padding: 5px;
                padding-left: 12px;
                text-decoration: none;
                transition: background 0.2s;
                background: rgba(0,0,0,0.1);

                &:hover {
                    background: rgba(0,0,0,0.2);
                    cursor: pointer;
                }

                .selected {
                    text-decoration: none;
                    font-weight: normal;
                }
            }
            .drop-choices {
                margin-top: 14px;
                background: transparent;

                & > *:first-child {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
                & > *:last-child {
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                }
                a {
                    background: rgba(60,60,60,0.9);
                    padding: 6px 24px;
                    color: #EEE;
                    text-transform: capitalize;
                    text-align: left;

                    &:hover {
                        background: rgba(60,60,60,0.95);
                    }
                }
            }
        }
    } // menuarea

    .usertext-edit {
        width: 100%;
        max-width: 500px;

        /* Save and cancel buttons */
        .usertext-buttons button {
            font-size: 11px;
            letter-spacing: 2px;
            margin-top: 0px;
        }
    }


    /* Parent Comments */
    & > .sitetable > .comment {
        background: $well-bg;
        padding: $well-padding;
        border-radius: 2px;
        // margin: 16px 0;
        margin: 0px !important;
        overflow: visible;
    }

    // TODO: Move out of nest to avoid unnecessary compiled css
    .comment {
        border-left: 2px solid #bcc5cc;


        // All these importants to counter RES
        overflow: visible !important;
        border: none !important;
        background: none !important;
        padding: 0px !important;
        margin: 0px !important;

        .child {
            margin-left: 20px;
            margin-top: 0px;
            border-left: none;
        }

        &.collapsed .entry {
            // padding-top: 12px;
            padding-bottom: 14px;
        }

        // Replacement collapse / expand button
        // & > .entry .tagline::before {
        //     content: '';
        //     color: #222;
        //     font-weight: bold;
        //     padding-right: 12px;
        //     font-size: 14px;
        //     position: relative;
        //     display: inline-block;
        //     width: 10px;
        // }
        // & > .entry .tagline:hover::before {
        //     color: #888;
        // }
        // &.noncollapsed .entry .tagline::before {
        //     content: '–';
        // }
        // &.collapsed .entry .tagline::before {
        //     content: '+';
        // }

        .entry {
            position: relative;
            overflow: visible;
            padding: 14px 18px 12px 18px;
            margin: 12px;

            // To show voting arrows
            margin-left: 40px;
            background: #2f2a2c;
            border-left: 3px solid $green;

            .flat-list.buttons {
                position: relative;
            }

            .usertext {
                clear: none;
                margin-top: 6px;

                .md-container {
                    display: inline-block;
                    position: relative;

                    .md {
                        background: none !important;
                    }
                }
            }

            .tagline {
                font-size: 10px;
                line-height: 16px;
                height: 16px;
                display: inline-block;

                a {
                    margin-right: 0;
                }

                span, .author, .usertext-edit {
                    // So it is clickable with the expand anchor filling entry
                    position: relative;
                }

                .author.submitter {
                    padding: 1px 6px;
                    border-radius: 0px;
                    font-weight: 100;
                    color: white;
                }

                blockquote {
                    color: #777;
                }

                & > * {
                    // vertical-align: middle;
                }
                .author {
                    font-size: $paragraph-text-size;;
                    font-weight: normal;
                }
                .submitter {
                    color: $orange;
                }

                time::after {
                    display: none;
                }

                .flairrichtext {
                    vertical-align: unset;
                }
            }

        }
    }
    
    // Not top level comments
    .comment .comment {
        margin-left: $comment-indent !important;
    }

    .expand {
        margin-right: 4px;
    }


    // This makes it so the whole comment box is clickable for expanding
    // .expand {
    //     font-size: 0px;
    //
    //     position: absolute;
    //     font-size: 0px;
    //     /* width: 100%; */
    //     left: 0px;
    //     top: 0px;
    //     bottom: 0px;
    //     right: 0px;
    //     margin-right: 0px;
    //
    //     &:hover {
    //         background: rgba(gray, 0.1);
    //     }
    // }
}



/*
@media (min-height: $mobile-breakpoint) {
    .comments-page .commentarea .comment .entry .flat-list.buttons {

        padding-left: 12px;
        padding-bottom: 30px;
        position: absolute;
        top: 5px;
        right: 0px;
        display: flex;
        flex-direction: column;

        &::before {
            position: absolute;
            right: 0px;
            top: 0px;
            content: '☰';
            font-size: 14px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            width: 30px;
            overflow: hidden;
            display: block;
            color: white;
            background: #AAA;
        }

        &:hover::before {
            cursor: pointer;
            background: #777;
        }

        & > li {
            position: relative;
            top: 35px;
            z-index: 4000;
            display: none;
            color: white;
            padding: 0px;
            min-width: 120px;

            a {
                color: #EEE;
                font-weight: 300;
                background: green;
                display: inline-block;
                height: 100%;
                width: 100%;
                background: rgba(60, 60, 60, 0.95);
                padding: 6px 18px;

                &:hover {
                    text-decoration: none;
                    background: rgba(90,90,90,0.95);
                }
            }
        }

        &:hover {
            & > li {
                display: block;
            }
        }
    }
}
*/
