/* VARIABLES */

$online-text: ' Dueling the Unraveled';
$subscribers-text: ' Runeknights';

$text-color: #f3eee7;

// A box that contains text
$well-bg: #FAFAFA;
$well-border-color: #BBB;
$well-border: 1px solid $well-border-color;
$well-padding: 12px;
$well-radius: 0px;
$paragraph-text-size: 12px;

$default-font-stack: Verdana, sans-serif;

$header-height: 300px;

// Space on the sides where the background is visible
$side-margin: 35px;
$side-margin-mobile: 0px;

$tab-bar-offset: 25px;
$tab-bar-offset-mobile: 8px;
$sidebar-width: 340px;
$sidebar-width-mobile: 280px;
$comment-indent: 18px;

// Height of topmost subreddit listing bar
$sr-header-height: 24px;

// Space between icons on item hover
$corner-icon-spacing: 37px;

// Space between sidebar and content
$content-side-space: 0px;

$panel-header-height: 65px;
$panel-header-color: white;

$side-bg: #2f2a2c;

$background-color: #18131c;

$mobile-breakpoint: 1150px;


$button-bg: linear-gradient(#7f5a7e,#5e3b5e);

$blue: #3c5e6f;
$red: #6f3c3c;
$green: #52ffd5;
$orange: #f6972a;
$gray: #6e6e6e;


/* MIXINS */
@mixin well {
    border: $well-border;
    background: $well-bg;
    padding: $well-padding;
    border-radius: $well-radius;
    font-size: $paragraph-text-size;
}
@mixin button {
    background: $button-bg;
    border: 2px solid $green;
    border-radius: 0px;
    color: #fff;
    outline: none;
    padding: 6px 16px;
    box-sizing: content-box;
    text-transform: uppercase;
    
    &:hover {
        border-color: $orange;
        text-decoration: none;
    }

    a, a:hover {
        text-decoration: none;
    }
}
@mixin spritesheet {
    /* Do not remove below comment: */
    /* background-image: url(%%spritesheet%%); */
    background-image: url('http://i.imgur.com/ZoRkI3m.png');
}
@mixin background-image {
    /* background: linear-gradient(transparent 50%, #18131c 95%), url(%%background%%); */
    background: linear-gradient(transparent 50%, #18131c 95%), url('http://i.imgur.com/VsrAZoQ.png');
}
